{% extends "inventory/base.html" %}
{% block title %}Order Confirmed{% endblock %}

{% block content %}
<div class="container mt-5 text-center">

  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="text-success">🎉 Order Confirmed!</h4>

      <p class="mt-3">
        Order ID: <strong>#{{ order.id }}</strong><br>
        Status: <strong>{{ order.status|title }}</strong>
      </p>

      <p>Total: <strong>KES {{ order.get_total_amount }}</strong></p>


      <a href="/" class="btn btn-dark mt-3">
        Continue Shopping
      </a>
    </div>
  </div>

</div>
{% endblock %}
